@import "tailwindcss";
@plugin "daisyui";

/* Hero Banner Styles */
.hero {
    background-image: url('../src/assets/header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Primary Button */
.primary-btn {
    background-color: black;
    color: white;
}

.primary-btn:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

/* Product button Action */
.product-action-btn:hover {
    background-color: black;
    color: white;
    border: none;
}